{% extends "base_generic.html" %}

{% block content %}
	<h1>Book List</h1>
	{% if book_list %}
		{% for book in book_list %}
			<div class="card" style="width: 25rem; height: 35rem;">
			  <img src="{{ book.cover }}" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">{{ book.title }}</h5>
				<p class="card-text">{{ book.summary }}</p>
				<a href="{{ book.get_absolute_url }}" class="btn btn-primary">Start Reading</a>
				<p><i>Currently in {{ book.get_status_display }} status</i></p>
			  </div>
			</div>
		{% endfor %}
	{% else %}
		<p>There are no books to read at this point.</p>
	{% endif %}       
{% endblock %}