.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#my-html,#my-body{
	font-size: 1.25rem;
}

#bootstrap-overrides body { /* 100+1=101 priority score, yay! */
  font-size: 1.25rem;
}
